<section id="{{id}}">
	<header class="column-header"> 
		<h1>{{name}}</h1>
	</header> 
	<div class="column-content"> 
		{{#tweets}}
		<article class="twitter" id="{{id}}">
			{{#author}}
			<div class="avatar ">
				<a href="http://twitter.com/{{name}}" rel="user">
					<img src="{{avatar}}" width="44" height="44">
				</a>
			</div>
			{{/author}}
			<div class="update">
				<p>{{text}}</p>
			</div>
			<footer>
				<p>
					<a href="http://twitter.com/{{author}}" rel="user">{{#author}}{{name}}{{/author}}</a>
					<a href="http://twitter.com/splashdamage/status/{{id}}" rel="url">
						<time datetime="{iso-date}">{hours}</time>
					</a>
				</p>
			</footer>
		</article>
		{{/tweets}}
	</div>
</section>